<%= stylesheet_link_tag 'start', :media => "all" %>
<!DOCTYPE html>
<html lang="ja">

<div class="start">
    <head>
        <meta charset="utf-8">
        <title>ベース診断スタート</title>
    </head>

    <body>
    <br>
            <ul class="nav-list">
                <li class="nav-list-item">あなたにおすすめのベースを診断！</li>
            </ul>
    <br>
    <%= image_tag asset_path('shindan.png', :width =>'', :height =>'', :alt => '') %>
    <br>
        <div class="start">
        <a href="pickups/new" class="btn-square-shadow">診断スタート</a>
        </div>
    </body>
</div>