<%= stylesheet_link_tag 'kiso', :media => "all" %>

<h2>▶基礎練習</h2>

<div class="container">
  <p>
    こちらのページではベース初心者の方におすすめの基礎練習を紹介しています。
    <br>
    以下の練習を継続して、これから様々な曲に挑戦する上で役立つ土台の部分を作り上げましょう！
  </p>
  <br>
  <p>＜ピッキングについて＞</p>
    練習に入る前に代表的なベースの弾き方２つについてご紹介します！
    <br>
    <br>
    指弾き（ツーフィンガー）:
    <br>
    <img src="/assets/指弾き.jpg" alt="" width="459" height="303">
    <br>
    指を使って弦を弾くテクニックです。ツーフィンガーの場合、基本的に人差し指と中指を使います。 
    <br>
    メリット:
    <br>
    ・柔らかく自然なサウンドが得られる。
    <br>
    ・繊細な表現が可能。
    <br>
    デメリット:
    <br>
    ・強弱の加減が難しいことがある。
    <br>
    ・ピックよりも音が小さくなることがある。
    <br>
    <br>
    ピック弾き:
    <br>
    <img src="/assets/ピック弾き.jpg" alt="" width="459" height="296">
    <br>
    ピックを使って弦を弾くテクニックです。人差し指の側面と親指の腹で挟む持ち方や人差し指＆中指と親指で挟む持ち方などがあります。
    <br>
    メリット:
    <br>
    ・弦を強く弾くことができ、パワフルなサウンドが得られる。
    <br>
    ・ピック特有のアタック感がある。
    <br>
    デメリット:
    <br>
    ・指弾きに比べて柔らかい表現が難しいことがある。
    <br>
    <br>
    どちらの奏法も独自の音色や表現があり、演奏者の好みや曲の雰囲気によって使い分けられます。
    <br>
    <br>
  <p>＜ドレミを弾こう！＞</p>

  <p>
    ＜指が動くようになる練習＞
    https://youtu.be/UlTP7CqoDY4?si=jSPitpNNI7UySOkF
  </p>
</div>

