<%= stylesheet_link_tag 'top', :media => "all" %>
<section id="top">
</section>

<div>
<p class="fade-in">Bass Boost</p>
</div>

<div id="center"><h1>menu</h1></div>

<div class="menu1">
<p1><a href=""><b><%= link_to "▶基礎練習", picks_kiso_path %></b></a></p1>
<br>&emsp;ベースを始めたばかりで何から練習すればいいかわからない...
という方におすすめのメニュー
</div>
<br>
<div class="menu2">
<p1><a href=""><b><%= link_to "▶診断", pickups_path %></b></a></p1>
<br>&emsp;あなたにおすすめのタイプのベースを診断！
</div>
<br>
<div class="menu3">
<p1><a href=""><b><%= link_to "▶掲示板", picks_path %></b></a></p1>
<br>&emsp;他のベーシストと交流したり、分からないことを質問してみましょう
</div>

<div class="bassguitars">
</div>
