h2{
    margin:30px 65px;
}

.container {
    margin-left: 85px;
    margin-bottom: 150px;
}

.yubihiki {
    width:459px;
    height:303px;
}

.pickbiki {
    width:459px; 
    height:296px;
}

.doremi {
    width: 459px;
    height: 155.69px;
}

.tab {
    width: 459px;
    height: 235.1px;
}