.intro {
    text-align: center;
}

.tweet-container {
    text-align: center;
}

.kakomi-maru2 {
    margin: 2em auto;
    padding: 1em;
    width: 27%;
    color: black; /*文字色*/
    border: 2px solid #68c4ca; /*線の太さ・色*/
    background-color: #fff; /*背景色*/
    box-shadow: -2px 5px 5px #a4b7b7; /*影*/
    border-radius: 20px; /*角の丸み*/
}

.precision {
    width:312.78px;
    height:563px;
}

.jazz {
    width:240.21px; 
    height:563px; 
}

.stingray {
    width:299px;
    height:563px; 
}

.violin {
    width:154.16px;
    height:563px; 
}