input[type=checkbox] { display: none; /* チェックボックスを非表示にする */ } 
input[type="checkbox"]:checked + label { background: #68c4ca;/* マウス選択時の背景色を指定する */ color: #ffffff; /* マウス選択時のフォント色を指定する */ }
.label:hover { background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */ }
.label { display: block; /* ブロックレベル要素化する */ 
         float: left; /* 要素の左寄せ・回り込を指定する */ 
         margin: 5px; /* ラベル外側の余白を指定する */ 
         width: 244px; /* ラベルの横幅を指定する */ 
         height: auto; /* ラベルの高さを指定する */ 
         text-align: center; /* テキストのセンタリングを指定する */ 
         line-height: 45px; /* 行の高さを指定する */
         padding-left: 5px; /* ラベル内左側の余白を指定する */
         padding-right: 5px; /* ラベル内右側の余白を指定する */ 
         cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */ 
         color: #010101; /* フォントの色を指定 */ 
         border: 2px solid #68c4ca;/* ラベルの境界線を実線で指定する */ 
         border-radius: 53px; /* 角丸を指定する */
        } 

.row {
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: column;
}

.flex-item{
    margin-left: 484px;
}

.title {
    margin-top: 50px;
    margin-bottom: 15px;
}

.col-12 {
    margin-top: 30px;
    margin-bottom: 20px;
}


.shindanbutton {
    margin-top: 40px;
}
form .formbottom {
	text-align: center;
} 
form .btns{
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
	padding: 6px 25px;
	color: #68c4ca;
	font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
	letter-spacing: 0.5pt;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #68c4ca;
	cursor: pointer;
	transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -ms-transition-duration:0.3s;
} 
form .btns:hover{
    color: #ffffff;
    background-color: #68c4ca;
}